.navber {
  position: relative;
  height: 77px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.0975);
  display: flex;
}

.post-button{
  position: absolute;
  height: 40px;
  width: 70px;
  top: 20px;
  right: 250px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  background-color: dodgerblue;
  color: #fff;
  border-radius: 0.25rem;
    &__text {
      text-decoration: none;
      color: #fff;
    }
}