
<% if post.comments %>
  <% post.comments.each do |comment| %>
    <div class= 'comment-details', data-id= <%= comment.id %>>
      <span class= "comment-details__user-name"><%= comment.user.name %></span>
      <span class= "comment-details__text"><%= comment.text %></span>
      <% if user_signed_in? && current_user.id == comment.user.id %>
        <%= link_to image_tag("dust-icon.png", size: "13x13"), "/posts/#{post.id}/comments/#{comment.id}.json", method: :delete, class: "comment_remove", remote: true %>
      <% end %>
    </div>
  <% end %>
<% end %>