<nav class= "navber">
  <%= link_to image_tag('app-title.png', size: '200x50'), "/", class: 'title' %>
  <div class= "post-button">
    <%= link_to '投稿', new_post_path, class: 'post-button__text' %>
  </div>
</nav>